<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Clientes</title>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/estilos.css'}">
</head>
<body>
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="container">
        <h1>Lista de Clientes</h1>
        <a href="/clientes/nuevo" class="btn">➕ Nuevo Cliente</a>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Documento</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Contacto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="c : ${clientes}">
                    <td th:text="${c.idC}"></td>
                    <td th:text="${c.documentoP}"></td>
                    <td th:text="${c.nombreP}"></td>
                    <td th:text="${c.apellidoP}"></td>
                    <td th:text="${c.contactoC}"></td>
                    <td>
                        <a th:href="@{'/clientes/editar/' + ${c.idC}}" class="btn btn-edit">Editar</a>
                        <a th:href="@{'/clientes/eliminar/' + ${c.idC}}" class="btn btn-delete">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>