<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Productos</title>
    <link rel="stylesheet" type="text/css" th:href="@{'/css/estilos.css'}">
</head>
<body>
    <header>
        <nav class="navbar">
            <img src="/imgs/logo_header.png" alt="Logo GasTroTec" class="logoGsTc">
            <div class="logo">GASTROTEC</div>
            <ul class="nav-links">
                <li><a th:href="@{'/clientes'}">CLIENTES</a></li>
                <li><a th:href="@{'/trabajadores'}">TRABAJADORES</a></li>
                <li><a th:href="@{'/productos'}">PRODUCTOS</a></li>
                <li><a th:href="@{'/inventario'}">INVENTARIO</a></li>
                <li><a th:href="@{'/proveedores'}">PROVEEDORES</a></li>
                <li><a th:href="@{'/ventas'}">VENTAS</a></li>
                <li><a th:href="@{'/facturas'}" class="active">COMPROBANTES</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h1>Lista de Productos</h1>
        <a href="/productos/nuevo" class="btn">➕ Nuevo Producto</a>

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Código</th> <th>Nombre</th>
                    <th>Precio</th> <th>Categoria</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p : ${productos}">
                    <td th:text="${p.idProd}"></td>
                    <td th:text="${p.codigoProd}"></td> <td th:text="${p.nombreProd}"></td>
                    <td th:text="${#numbers.formatDecimal(p.precioProd, 0, 'POINT', 2, 'COMMA')}"></td> <td th:text="${p.categoriaProd}"></td>
                    <td>
                        <a th:href="@{'/productos/editar/' + ${p.idProd}}" class="btn btn-edit">Editar</a>
                        <a th:href="@{'/productos/eliminar/' + ${p.idProd}}" class="btn btn-delete">Eliminar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer>
        <div class="footer-content">
            <p>© 2025 GasTroTec | Todos los derechos reservados</p>
            <p class="footer-links">
                <a href="/terminos">Términos</a> |
                <a href="/privacidad">Privacidad</a> |
                <a href="/contacto">Contacto</a>
            </p>
        </div>
    </footer>
</body>
</html>