<header>
    <nav class="navbar">
        <div class="logo">
            <img th:src="@{/imgs/logo_header.png}" src="/imgs/logo_header.png" alt="Logo GasTroTec" class="logoGsTc">
            <span>GASTROTEC</span>
        </div>
        <ul class="nav-links">
            <li><a th:href="@{/clientes}">CLIENTES</a></li>
            <li><a th:href="@{/trabajadores}">TRABAJADORES</a></li>
            <li><a th:href="@{/productos}">PRODUCTOS</a></li>
            <li><a th:href="@{/inventario}">INVENTARIO</a></li>
            <li><a th:href="@{/proveedores}">PROVEEDORES</a></li>
            <li><a th:href="@{/ventas}">VENTAS</a></li>
            <li><a th:href="@{/facturas}">COMPROBANTES</a></li>
        </ul>
    </nav>
</header>